.detail {
    &__title {
        text-align: center;
        position: relative;
        font-size: 62px;

        &::after {
            content: '';
            display: block;
            position: absolute;
            height: 3px;
            width: 130px;
            top: 50%;
            left: 29%;
            background-color: $orange;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            height: 3px;
            width: 130px;
            top: 50%;
            right: 29%;
            background-color: $orange;
        }
    }

    &-transportation {
        background-color: $lightblue;
        padding: 50px 0;

        &__title {
            color: $white;
            font-size: 35px;
            font-family: $font-title;
            font-weight: 300;
        }
    }
}

.activities-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.activities {
    &__title {
        color: $green;
        font-size: 35px;
        font-family: $font-title;
        font-weight: 300;
    }
    &__image {
        height: 100px;
    }
}

.transportation-options {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    .transportation {
        display: flex;
        flex-direction: column;
        $width: percentage(1/3);
        width: calc(#{$width} - 20px);
        padding-top: 50px;

        &__image-wrapper {
            height: 100px;
        }

        &__image {
            width: 300px;

            &--car {
                width: 200px
            }

            &--bus {
                width: 300px
            }

            &--train {
                width: 300px;
                padding-top: 40px;
            }
        }

        &__time {
            display: block;
            padding-top: 50px;
            font-size: 30px;
            color: $gray;

            &-icon {
                font-size: 30px;
                margin-right: 10px;
                color: $orange;
                vertical-align: sub;
            }
        }

        &__explanation {
            color: $gray;
        }
    }
}

.slider {
    &__item {
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 15px;
    }
}

.tns-nav {
    text-align: center;

    button {
        background-color: $green;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 1px solid $baba;
        margin-right: 2px;
        margin-top: 15px;
    }

    .tns-nav-active {
        background-color: $darker-green;
    }
}

.tns-outer {
    button[data-action="stop"], button[data-action="start"] {
        display: none;
        pointer-events: none;
    }
}
