.detail {
    &__title {
        text-align: center;
        position: relative;
        font-size: 62px;

        &::after {
            content: '';
            display: block;
            position: absolute;
            height: 3px;
            width: 130px;
            top: 50%;
            left: 29%;
            background-color: $orange;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            height: 3px;
            width: 130px;
            top: 50%;
            right: 29%;
            background-color: $orange;
        }
    }

    &__introduction {
        padding: 25px 0;
        max-width: 1160px;
        margin: 100px auto;

        &-wrapper {
            background-color: $orange;

        }

        &-title {
            font-family: $font-title;
            font-size: 35px;
            font-weight: 300;
            color: #faf7f7;
        }

        &-text {
            width: 50%;
            color: #faf7f7;
        }
    }

    &-transportation {
        background-color: $lightblue;
        padding: 50px 0;

        &__title {
            color: $darkblue;
            font-size: 35px;
            font-family: $font-title;
            font-weight: 300;
        }
    }
}

.activities-wrapper {

    @media screen and (min-width: 769px) {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

.activities {
    &__title {
        color: $green;
        font-size: 35px;
        font-family: $font-title;
        font-weight: 300;
    }
}
.activity {
    padding-bottom: 50px;

    @media screen and (min-width: 769px) {
        $width: percentage(1/3);
        flex-basis: calc(#{$width} - 35px);
        padding-bottom: 100px;
    }


    &__title {
        color: $green;
        font-size: 20px;
        font-family: $font-text;
        font-weight: 300;
        margin: 10px 0;
    }

    &__text {
        color: $gray;
        font-family: $font-text;
        margin: 0;
    }

    &__image {
        height: 250px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
    }
}

.slider {
    &__item {
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 15px;
    }
}

.tns-nav {
    text-align: center;

    button {
        background-color: $green;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 1px solid $baba;
        margin-right: 2px;
        margin-top: 15px;
    }

    .tns-nav-active {
        background-color: $darker-green;
    }
}

.tns-outer {
    button[data-action="stop"], button[data-action="start"] {
        display: none;
        pointer-events: none;
    }
}
