//background colors
$bg: #faf7f7;

//font colors
$orange: #FFA647;
$white: #fff;
$lightblue: #B0E2F1;
$darkblue: #587178;
$gray: #707070;
$yellow: #FFEB65;
$green: #A0D29D;
$darker-green: #79af79;

//content width
$content-width: 1180px;

//color
$checkbox: #F1F1F1;
$mercury: #e2e2e2;
$baba: #9e9e9e;

//fonts
$font-title: 'Roboto Thin', monospace;
$font-text: 'Hind', sans-serif;

body {
    font-family: $font-text;
}

.content-wrapper {
    max-width: $content-width;
    padding: 0 20px;

    @media screen and (min-width: 769px) {
        margin: 0 auto;
    }
}

h1 {
    font-size: 42px;
    font-family: $font-title;
    color: $orange;
    font-weight: 400;
}

.button {
    display: inline-block;
    color: $gray;
    padding: 10px 22px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 18px;
    margin: 15px 15px 15px 0;
    cursor: pointer;

    &--yellow {
        background-color: $yellow;

        &:hover {
            background-color: rgba($yellow, 0.8);
        }
    }

    &--green {
        background-color: rgba($green, .4);

        &:hover {
            background-color: rgba($green, 0.1);
        }
    }
}

.link-accent {
    text-decoration: none;
    color: black;

    &:hover {
        border-bottom: 3px solid $lightblue;
    }
}

.span {
    &--blue {
        color: $lightblue;
    }
}

input[type=checkbox] {
    position: absolute;
    //left: -9999px;

    &::before {
        position: absolute;
        content: '';
        width: 35px;
        height: 35px;
        background-color: $mercury;
        border: $baba solid 1px;
        border-radius: 4px;
    }

    &::after {
        content: '';
        width: 15px;
        height: 15px;
        background-color: $checkbox;
    }
}
