.prices {
    position: relative;
    padding-bottom: 450px;

    @media screen and (min-width: 769px) {
        padding-bottom: 0;
    }

    &-activities {
        width: 100%;
        display: block;
        margin-left: auto;
        padding-bottom: 100px;

        @media screen and (min-width: 769px) {
            width: 60%;
        }

        &__option {
            display: flex;

            &-title {
                flex-basis: 30%;
                font-family: $font-title;
                color: $green;
                font-weight: 300;
            }
        }

        &__title {
            label {
                font-family: $font-title;
                color: $gray;
                font-weight: 400;
                font-size: 30px;
            }
        }

        .environment-rating {
            flex-basis: 20%;
            margin: 0 50px;
        }

        &__price {
            flex-basis: 20%;
            padding-top: 29px;
            padding-right: 15px;
            font-size: 20px;
            color: $darker-green;
        }
    }

    &-transport {
        padding: 50px 0;

        @media screen and (min-width: 769px) {
            padding: 100px 0;
        }

        &__option {
            display: flex;
        }

        .environment-rating {
            flex-basis: 20%;
            margin: 0;
        }

        .transportation {

            &__price {
                flex-basis: 20%;
                display: block;
                padding-top: 32px;
                color: $darker-green;
                font-size: 20px;
            }

            &__image {

                &-wrapper {
                    flex-basis: 30%;
                    padding-bottom: 50px;
                }

                &--car {
                    width: 100%;

                    @media screen and (min-width: 769px) {
                        width: 200px;
                    }
                }

                &--train {
                    width: 100%;

                    @media screen and (min-width: 769px) {
                        width: 300px;
                    }
                }

                &--bus {
                    width: 100%;

                    @media screen and (min-width: 769px) {
                        width: 200px;
                    }
                }

                &--plane {
                    width: 100%;

                    @media screen and (min-width: 769px) {
                        width: 200px;
                    }
                }
            }
        }
    }

    &-housing {
        &__option {
            display: flex;

            &-title {
                flex-basis: 35%;
            }

            .environment-rating {
                padding-left: 80px;
                margin: 0 150px 0 50px;
            }
        }
    }

    &-date {
        width: 60%;
        margin-left: auto;
        margin-top: 150px;

        &__date {
            display: flex;
            margin-bottom: 20px;

            .date-picker {
                margin-left: 30px;
            }
        }

        &__title {
            font-family: $font-title;
            color: #707070;
            font-weight: 400;
            font-size: 30px;
            margin-bottom: 50px;
        }

        &__subtitle {
            flex-basis: 20%;

            label {
                color: $green;
                font-family: $font-title;
                font-weight: 300;
            }
        }
    }


    &-email {
        display: flex;
        margin-top: 100px;

        &__title label {
            font-family: $font-title;
            color: #707070;
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 50px;
            margin-right: 50px;
        }
    }
}
.transportation__checkbox {
    position: relative;
}
