.transportation-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .transportation {
        display: flex;
        flex-direction: column;
        flex-basis: 44%;
        padding-top: 50px;

        &__image-wrapper {
            height: 100px;
        }

        &__image {
            width: 300px;
            display: block;
            margin: 0 auto 30px;

            &--car {
                width: 200px
            }

            &--bus {
                width: 300px
            }

            &--train {
                width: 300px;
                padding-top: 40px;
            }

            &--plane {
                width: 225px;
                margin-bottom: 40px;
            }
        }

        &__time {
            display: block;
            font-size: 20px;
            color: $darkblue;

            &-icon {
                font-size: 30px;
                margin-right: 10px;
                color: $darkblue;
                vertical-align: middle;
            }
        }

        &__explanation {
            color: $gray;
        }
    }
}
