.housing {
    background: $green;
    color: $gray;
    padding: 100px 0;

    &__title {
        font-family: $font-title;
        font-weight: 300;
        font-size: 35px;
    }

    &__option {

        @media screen and (min-width: 769px) {
            display: flex;
            margin-bottom: 60px;
        }
    }

    &__image {
        border-radius: 25px;
        width: 100%;

        &-wrapper {
            max-width: 400px;
        }
    }

    &__content {
        padding: 20px;
    }

    &__span {
        display: block;
        font-size: 18px;
    }

    &__icon {
        padding-right: 10px;
    }

    &__link {
        text-decoration: none;
        color: $darker-green;
        font-size: 20px;
    }
}
