{% extends 'base.html.twig' %}

{% block content %}

<div class="detail">
    <div class="content-wrapper">
        <h1 class="detail__title">Berlin</h1>
    </div>
        <div class="detail__slider slider">
            <div class="slider__item" style="background-image: url('build/images/berlin1.jpg')"></div>
            <div class="slider__item" style="background-image: url('build/images/berlin2.jpg')"></div>
            <div class="slider__item" style="background-image: url('build/images/berlin3.jpg')"></div>
            <div class="slider__item" style="background-image: url('build/images/berlin1.jpg')"></div>
        </div>
    <div class="content-wrapper">
        <h2 class="activities__title">Activities</h2>
        <div class="activities-wrapper">
            <div class="activities">
                <div class="activities__image" style="background-image: url('build/images/berlin1.jpg')"></div>
                <p class="activities__text">
                    en. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw,
                    toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een
                    font-catalogus te maken. Het heeft
                </p>
            </div>
            <div class="activities">
                <div class="activities__image" style="background-image: url('build/images/berlin1.jpg')"></div>
                <p class="activities__text">
                    en. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw,
                    toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een
                    font-catalogus te maken. Het heeft
                </p>
            </div>
            <div class="activities">
                <div class="activities__image" style="background-image: url('build/images/berlin1.jpg')"></div>
                <p class="activities__text">
                    en. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw,
                    toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een
                    font-catalogus te maken. Het heeft
                </p>
            </div>
        </div>
    </div>
    <div class="detail-transportation">
        <div class="content-wrapper">
            <div class="transportation-options">
                <div class="transportation">
                    <div class="transportation__image-wrapper">
                        <img class="transportation__image transportation__image--car" src="{{ asset('build/images/car2.png') }}">
                    </div>
                    <span class="transportation__time"><i class="material-icons transportation__time-icon">access_time</i>7 hours</span>
                    <p class="transportation__explanation">
                        m Ipsum is slechts een proeftekst uit het drukkerij- en
                        zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw,
                        toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een
                        font-catalogus te maken. Het heeft
                    </p>
                </div>
                <div class="transportation">
                    <div class="transportation__image-wrapper">
                        <img class="transportation__image transportation__image--bus" src="{{ asset('build/images/bus.png') }}">
                    </div>
                    <span class="transportation__time"><i class="material-icons transportation__time-icon">access_time</i>7 hours</span>
                    <p class="transportation__explanation">
                        m Ipsum is slechts een proeftekst uit het drukkerij- en
                        zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw,
                        toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een
                        font-catalogus te maken. Het heeft
                    </p>
                </div>
                <div class="transportation">
                    <div class="transportation__image-wrapper">
                        <img class="transportation__image transportation__image--train" src="{{ asset('build/images/train.png') }}">
                    </div>
                    <span class="transportation__time"><i class="material-icons transportation__time-icon">access_time</i> 7 hours</span>
                    <p class="transportation__explanation">
                        m Ipsum is slechts een proeftekst uit het drukkerij- en
                        zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw,
                        toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een
                        font-catalogus te maken. Het heeft
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
