<div class="brandbox" style="background-image: url({{ image }})">
    <div class="brandbox__content">
        <h1 class="brandbox__title">{{- title -}}</h1>
        <span class="brandbox__subtitle">{{- subtitle -}}</span>
            <div class="button button--yellow">{{- buttontext -}}</div>
    </div>
</div>
