<footer>
    <div class="footer">
        <span class="footer__item">Close travels</span>
        <span class="footer__item">Home</span>
        <span class="footer__item">Map</span>
    </div>
</footer>
