<div class="detail-transportation">
    <div class="content-wrapper">
        <h2 class="detail-transportation__title">Transportation</h2>
        <div class="transportation-options">
            <div class="transportation">
                <div class="transportation__image-wrapper">
                    <img class="transportation__image transportation__image--car" src="{{ asset('build/images/car2.png') }}">
                </div>

                {% include 'components/environment_rating.html.twig' with {
                    'modifier' : "1",
                    'text'     : 'The car is the fastest but not the most environmentally friendliest'
                } %}

                <span class="transportation__time"><i class="material-icons transportation__time-icon">access_time</i>7 hours</span>
                <p class="transportation__explanation">
                    Driving to Berlin with a car would take approximately 7.5 hours. You can take up to 5 people in your car. It is more environmental friendly than the plane, but for example a bus or train would take more people at once.
                </p>
            </div>
            <div class="transportation">
                <div class="transportation__image-wrapper">
                    <img class="transportation__image transportation__image--bus" src="{{ asset('build/images/bus.png') }}">
                </div>

                {% include 'components/environment_rating.html.twig' with {
                    'modifier' : "2",
                    'text'     : 'Going with the bus is more environmental friendly than the car!'
                } %}

                <span class="transportation__time"><i class="material-icons transportation__time-icon">access_time</i>9:35 hours</span>
                <p class="transportation__explanation">
                    If your going with the bus. You will be taking the flixbus. Flixbus might take longer but is cheaper and more environmental friendly! Getting you from A to B stress free: thanks to real-time bus stop information, up-to-date and current bus schedules, helpful staff and friendly on-site bus drivers, you don't need to worry about a thing. You can plan your bus trip and jump on board feeling completely relaxed.
                </p>
            </div>
            <div class="transportation">
                <div class="transportation__image-wrapper">
                    <img class="transportation__image transportation__image--train" src="{{ asset('build/images/train.png') }}">
                </div>

                {% include 'components/environment_rating.html.twig' with {
                    'modifier' : "2",
                    'text'     : 'Train is as fast as the car and more environmental friendly!'
                } %}

                <span class="transportation__time"><i class="material-icons transportation__time-icon">access_time</i> 7 hours</span>
                <p class="transportation__explanation">
                    Taking the train has te least CO2 emissions. This is because all the trains in the Netherlands are currently CO2-neutral. The energy which is used to power the trains are from wind turbines. For countries other than the netherlands. The CO2 emmissions per person are lower than car, bus or plane. This is because the number of passengers is much higher with a plane.
                </p>
            </div>
            <div class="transportation">
                <div class="transportation__image-wrapper">
                    <img class="transportation__image transportation__image--plane" src="{{ asset('build/images/plane.png') }}">
                </div>

                {% include 'components/environment_rating.html.twig' with {
                    'modifier' : "0",
                    'text'     : 'If you want to go with the plane there is an CO2 compensation'
                } %}

                <span class="transportation__time"><i class="material-icons transportation__time-icon">access_time</i>3 hours</span>
                <p class="transportation__explanation">
                    Taking a plane for a destination closeby is extremely polluting. It maybe the fastest transportation option, but flying one person is an emission of 330 kg CO2! Going with a car, with 4 people, the pollution is 150kg CO2. If you go with a car it would be more environmentally friendly, a train even more! The compensation fee is calculated km times 0.10€. This will be used to plant trees.
                </p>
            </div>
        </div>
    </div>
</div>
