<div class="environmental_impact">
    <div class="environmental_impact__circle">
        <div class="environmental_impact__content">
            <h2>Environmental Impact</h2>
            <span>based on your current choices</span>
            {% include 'components/environment_rating.html.twig' with {
                'modifier': "2"
            }%}
        </div>

    </div>
</div>
