<div class="housing">
    <div class="content-wrapper">
        <h2 class="housing__title">Housing</h2>
        <div class="housing__option">
            <div class="housing__image-wrapper">
                <img class="housing__image housing__image" src="{{ asset('build/images/berlin2.jpg') }}">
            </div>
            <div class="housing__content">
                <h3>Steigenberger Hotel Am Kanzleramt</h3>
                <span class="housing__span"><i class="material-icons housing__icon">apartment</i>Ella-Trebe-Str. 5, 10557 Berlijn Duitsland</span>
                <span class="housing__span"><i class="material-icons housing__icon">euro</i>€150,00 per nacht</span>
                <a class="housing__link" href="https://www.google.nl">www.google.nl</a>
                {% include './components/environment_rating.html.twig' with {
                    'modifier' : "3",
                    'text' : 'Label Platina'
                } %}
            </div>
        </div>
        <div class="housing__option">
            <div class="housing__image-wrapper">
                <img class="housing__image housing__image" src="{{ asset('build/images/berlin2.jpg') }}">
            </div>
            <div class="housing__content">
                <h3>Deutscher Camping-Club LV Berlin</h3>
                <span class="housing__span"><i class="material-icons housing__icon">apartment</i>Ella-Trebe-Str. 5, 10557 Berlijn Duitsland</span>
                <span class="housing__span"><i class="material-icons housing__icon">euro</i>€150,00 per nacht</span>
                <a class="housing__link" href="https://www.google.nl">www.google.nl</a>

                {% include './components/environment_rating.html.twig' with {
                    'modifier' : "4",
                    'text' : 'Label Platina'
                } %}
            </div>
        </div>
    </div>
</div>
