.user-form {
    display: flex;

    &__image {
        flex-basis: 50%;
    }
}

.form {
    &-group {
        display: flex;
        flex-direction: column;
    }

    &--login {
        flex-basis: 50%;
    }
}

.user-form__form {
    flex-basis: 50%;
}

label {
    color: $orange;
    font-family: $font-text;
    margin-top: 15px;
}

input {
    padding: 15px;
    border-radius: 20px;
    border: solid 1px $mercury;
}

input[type=email] {
    width: 50%;
}
