<div class="email">
    <h1>Close Travels</h1>
    <div class="data">
        <h2>Transport</h2>
        {% for key, value in transport %}
            <p>{{ value }}</p>
        {% endfor %}
    </div>
    <div class="data">
        <h2>Activities</h2>
        {% for key, value in activities %}
            <p>{{ value }}</p>
        {% endfor %}
    </div>
    <div class="data">
        <h2>Housing</h2>
        {% for key, value in housing %}
            <p>{{ value }}</p>
        {% endfor %}
    </div>

    <h2>Thank you so much with booking with Close Travels! Enjoy Sustainable</h2>
</div>
